@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
}
nav{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0px;

}

nav img {
    width: 30px;

}

#logo-black{
    display: flex;
    background-position: bottom;
    background-size:cover;
    height:100vh;
    width: 300px;
    padding: 0px;
}

.logo-icons{
    width: 30px;
}